.container {
  margin: 30px 16px;
}

.title-filled {

  font-size: 24px;
  color: #fff;
  text-align: left;
}

.title-empty {
  margin: 30px 0;
  font-size: 38px;
  color: #fff;
  text-align: center;
}

.cart-table {
  margin: 30px 0;
  background: #fff;

  th, td {
    padding: 16px;
  }

  th {
    font-size: 18px;
  }

  th.center {
    text-align: center;
  }

  td {
    font-size: 20px;
  }
}
